body{
    margin:0px;
    padding: 0px;
}
.wrapper{
    width: 1020px;
    margin: 0 auto;
}

header{
    background-color: #2d303a;
    display: flex;
    justify-content: space-between;
    height: 95px;
    align-items: center;
}

.logotip{
        font-size: 18px;
        font-family: "Lato";
        color: rgb(255, 255, 255);
        font-weight: bold;
        margin-left: 40px;
}

span{
color:#f06c64
}

.navigation{
    display: flex;

}
.navigation_item{
    font-size: 12px;
    font-family: "Lato";
    color: rgb(255, 255, 255);
    font-weight: bold;
    margin-left: 30px;
}
.last{
    margin-right: 40px;
}
.active {
    font-size: 12px;
    font-family: "Lato";
    color: rgb(240, 108, 100);
    font-weight: bold;
}
main{
    height: 600px;
    background-color: #f06c64;
}

.iphones{
    height: 600px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.phoneV_main{
    position: relative;
}

.phoneV{
    width: 220px;
    height: 455px;
}

.photophoneV{
    position: absolute;
    left: 14px;
    top: 50px;
    width: 168px;
    height: 315px;
}
.phoneH_main{
    position: relative;
}

.phone_horizontal{
    width: 455px;
    height: 220px;
}

.image_horizontal{
    position: absolute;
    left: 56px;
    top: 17px;
    width: 315px;
    height: 168px;
}

.servces{
    background-color: #f2f2f2;
}

h3{
    color: #666d89;
    margin-top: 0px;
    padding-top: 68px;
}

.services_text{
    margin-left: 40px;
    margin-right:40px;
    font-family: "Lato";
}

.services_maim{
    display: flex;
    flex-wrap: wrap;
    margin-right: 40px;
    margin-left:40px;
}
.services_maim_item{
    flex-shrink: 0;
    width: 300px;
    display: flex;
}

.services_maim_item_image{
    margin-right: 20px;
}

.services_maim_item_content{
    color: #767e9e;
    font-size:12px;
}
h4{
    font-size:18px;
    margin-top: 0px;
    color:#666d89;
}